<form class="form-inline party-form" role="form" name="PartyForm" novalidate>
    <div class="form-group">
        <input ng-model="vm.newParty.name" type="text" class="form-control" placeholder="Name" ng-required="true" name="name">
    </div>
    <div class="form-group">
        <input ng-model="vm.newParty.phone" type="number" class="form-control" placeholder="Phone" ng-required="true" name="phone">
    </div>
    <div class="form-group">
        <input ng-model="vm.newParty.size" type="number" class="form-control" placeholder="Number of persons" ng-required="true" min="1" name="size">
    </div>
    <div class="form-group">
        <input ng-model="vm.newParty.quote" type="number" class="form-control" placeholder="Waiting Time (in mins)" ng-required="true" min="5" name="size">
    </div>
    <button type="submit" class="btn btn-warning" ng-click="PartyForm.$valid && vm.addParty();">Add Customer</button>
</form>
<div class="text-danger bg-warning"  ng-if="vm.profile.credit==0">
    <p style="padding:10px;">
        Your SMS credit is 0, contact here <a href="mailto:hardikmsondagar@gmail.com">hardikmsondagar@gmail.com</a> to purchase credits or any customization.
    </p>
</div>

